header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header,
footer {
  background-color: #0156d1;
}

.banner {
  width: 720px;
}
.card {
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}
.toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: white;
  margin-bottom: 0%;
}

.footer {
  padding-top: 1rem;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: rgb(93, 84, 228); */
  /* color: white; */
  text-align: center;
  margin-bottom: 0;
  /* padding-bottom: 0.5rem; */
}
h5.card-title {
  color: #0156d1;
}
.img {
  display: flex;
  height: 155px;
  justify-content: center;
}
.card-img {
  width: auto !important;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.twitter-timeline {
  height: 500px !important;
  overflow-y: scroll;
}
.sponsors_img {
  width: 17em;
}

.img-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: #ffffff;
}

.img-container {
  /* margin: 20px; */
  position: relative;
  text-align: left;
  color: #ffffff;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .sponsors_img {
    margin-top: 0px !important;
  }
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
  display: none;
  background-color: #f8f9fa;
}

.text-drop-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.nav-item {
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #0156d1;
  transition: width 0.3s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}
