/* Global link styles */
/* a {
  color: #1a73e8;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #1557b0;
  text-decoration: underline;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 60px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c9c9c9;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.contentContainer {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 950px) {
  .contentContainer {
    width: 100%;
    /* padding: 0 1rem; */
  }
}

.justifyText {
  text-align: justify;
}

.hrefLinkBlue {
  color: #1a73e8;
  text-decoration: none;
  transition: color 0.2s ease;
  text-decoration: underline;
}

.hrefLinkBlue:hover {
  color: #1557b0;
  text-decoration: underline;
}
