.header {
  /* background-color: #fff; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.514);
  backdrop-filter: blur(10px);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: var(--header-height);
  background: linear-gradient(135deg, rgba(158, 249, 228), rgba(98, 80, 162));
  /* border-bottom: 1px solid #010101; */
  /* box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08); */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  font-weight: bold;
}

/* .brand {
  font-weight: bold;
  font-size: 1.25rem;
  color: #333;
} */

.logo {
  display: inline;
  margin-right: 0.5rem;
}

.brand {
  font-weight: 700;
  font-size: 1.4rem;
  background: linear-gradient(135deg, #2d3436, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #333;
  letter-spacing: -0.5px;
}

.menuButton {
  border: none;
  background: transparent;
  cursor: pointer;
  display: none; /* Hidden on larger screens */
  font-size: 1.5rem;
  background: linear-gradient(135deg, rgba(158, 249, 228), rgba(98, 80, 162));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.3s ease-in-out;
}

.menuButton:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/* Remove these lines since we're not using them */
/* .menuIcon {
  display: none;
} */

.navbarMenu {
  display: flex;
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.navLink {
  color: #333;
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  position: relative;
}

.navLink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 50%;
  background: #ffffff;
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
}

.navLink:hover::after {
  width: 100%;
  right: 0;
}

.navLink:hover {
  color: #999999;
}

.navLink:hover {
  color: #ffffff;
}

.open {
  background: linear-gradient(135deg, rgba(158, 249, 228), rgba(98, 80, 162));
  text-align: left;
}

/* Mobile styles */
@media (max-width: 1060px) {
  .menuButton {
    display: block;
  }
  .navbar {
    width: 100%;
  }
  .navbarMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .navbarMenu.open {
    display: flex;
  }
  .navList {
    flex-direction: column;
    padding: 1rem 0;
  }
  .navList li {
    margin: 0.5rem 0;
    text-align: center;
  }
}
